# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Databases (Crucial to prevent overwriting cloud structures)
instance/
*.db
*.sqlite

# Media Uploads & Exports
static/uploads/*
!static/uploads/.gitkeep
uploads/
*.pdf

# Environments and OS files
.venv/
venv/
ENV/
.env
.DS_Store
Thumbs.db
